.input2 {
  margin-bottom: 10px;
  width: 200px;
  padding: 5px 8px;
  border: 1px solid #000;
  outline: none;
  font-size: 13px;  
  font-family: 'Roboto';
}

.input:focus {
  border: 1px solid #77B168;
}