.panel {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.input_id {
  width: 210px;
  height: 18px;
  padding: 5px 8px;
  border: 1px solid #77B168;
  outline: none;
  font-size: 13px;  
  font-family: 'Roboto';

}
.input_id:focus {
  border: 1px solid #77B168;
}

.button_id {
  width: 150px;
  height: 29.8px;
  margin-left: -10px;
  background-color: #77B168;
  color: white;
  border: 1px solid #77B168;
  font-weight: bold;
  font-family: 'Roboto';
  cursor: pointer;
}

.button_id:hover {
  background-color: #fff;
  border: 1px solid #77B168;
  color: #77B168;
  transition: all .2s ease-in;
}