.auth {
  text-align: center;
}

.input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 200px;
  padding: 5px 8px;
  border: 1px solid #000;
  outline: none;
  font-size: 13px;  
  font-family: 'Roboto';

}
.title_text {
  color: #77B168;
  font-family: 'Helvetica Neue';
  font-weight: 300;
}

.input:focus {
  border: 1px solid #77B168;
}

.post_submit {
  width: 150px;
  height: 30px;
  background-color: white;
  color: white;
  background-color: #77B168;
  border: none;
  font-weight: bold;
  font-family: 'Helvetica Neue';
  cursor: pointer;
}


.info {
  font-family: 'Helvetica Neue';
  font-weight: lighter;
  color: #30851b;
}

.loading-spin {
  display: inline-block;
}

